[Desktop Entry]
Terminal=false
Icon=mpz
Type=Application
Categories=AudioVideo;Audio;Player;
Exec=mpz %F
Name=mpz
GenericName=Music Player
GenericName[ja]=音楽プレーヤー
GenericName[ru]=Музыкальный проигрыватель
GenericName[sr]=Музички плејер
Comment=Music player for large local collections
Comment[ja]=大規模なローカルコレクション向けの音楽プレーヤー
Comment[ru]=Музыкальный проигрыватель для больших локальных коллекций
Comment[sr]=Музички плејер за велике локалне колекције
Keywords=music;audio;player;mpd;playlist;collection;library;
Keywords[ja]=音楽;オーディオ;プレーヤー;mpd;プレイリスト;コレクション;ライブラリ;
Keywords[ru]=музыка;аудио;плеер;mpd;плейлист;коллекция;библиотека;
Keywords[sr]=музика;аудио;плејер;mpd;плејлиста;колекција;библиотека;
MimeType=application/ogg;application/x-cue;application/x-ogg;application/x-ogm-audio;audio/aac;audio/flac;audio/mp4;audio/mpeg;audio/mpegurl;audio/ogg;audio/opus;audio/vorbis;audio/wav;audio/x-ape;audio/x-dsf;audio/x-flac;audio/x-m4a;audio/x-mp3;audio/x-mpeg;audio/x-mpegurl;audio/x-ms-wma;audio/x-oggflac;audio/x-opus+ogg;audio/x-scpls;audio/x-vorbis;audio/x-vorbis+ogg;audio/x-wav;x-content/audio-player;
