[Desktop Entry]
Terminal=false
Icon=mpz
Type=Application
Categories=AudioVideo;Audio;Player;
Exec=mpz %f
Name=mpz music player
GenericName=mpz music player
GenericName[ru]=mpz музыкальный проигрыватель
Comment=mpz music player for large local collections
Comment[ru]=mpz музыкальный проигрыватель для больших локальных коллекций
