extract_version:
  provider: 'file'
  file:
    file: 'CMakeLists.txt'
    regex: 'project\(mpz VERSION (.+) LANGUAGES'

common: &common
  package_name: mpz
  maintainer: 'Oleg Antonyan <oleg.b.antonyan@gmail.com>'
  homepage: https://mpz-player.org/
  summary: Music player for the large local collections
  description: "Music player for big local collections. Treats your folders with music as a library. Features 3-column UI: directory tree viewer, playlists list and tracks from current playlist. Similar to \"album list\" in Foobar2000."

rpm: &rpm
  <<: *common
  rpm:
    spec_template: '.omnipackage/mpz.spec.liquid'

deb: &deb
  <<: *common
  deb:
    debian_templates: '.omnipackage/deb'


opensuse_qt5: &opensuse_qt5
  build_dependencies: [gcc, make, cmake, meson, libqt5-qtbase-devel, libqt5-qtmultimedia-devel, libqt5-qtx11extras-devel]
  CMAKE_EXTRA_CLI: '-DUSE_QT5=ON'
  <<: *rpm

opensuse_qt6: &opensuse_qt6
  build_dependencies: [gcc, make, cmake, meson, qt6-base-common-devel, qt6-multimedia-devel, qt6-widgets-devel, qt6-concurrent-devel]
  <<: *rpm


mageia_qt5: &mageia_qt5
  build_dependencies: [gcc, make, cmake, meson, qtbase5-common-devel lib64qt5core-devel lib64qt5gui-devel lib64qt5widgets-devel lib64qt5concurrent-devel, lib64qt5multimedia-devel, lib64qt5x11extras-devel]
  CMAKE_EXTRA_CLI: '-DUSE_QT5=ON'
  <<: *rpm


readhat_qt5: &readhat_qt5
  build_dependencies: [gcc, make, cmake, meson, qt5-qtbase-devel, qt5-qtmultimedia-devel, qt5-qtx11extras-devel]
  CMAKE_EXTRA_CLI: '-DUSE_QT5=ON'
  <<: *rpm

readhat_qt6: &readhat_qt6
  build_dependencies: [gcc, make, cmake, meson, qt6-qtbase-devel, qt6-qtmultimedia-devel]
  <<: *rpm


debian_qt5: &debian_qt5
  build_dependencies: [gcc, make, cmake, meson, qtbase5-dev-tools, qtchooser, qtbase5-dev, qtmultimedia5-dev, libqt5x11extras5-dev]
  runtime_dependencies: [libqt5multimedia5-plugins]
  CMAKE_EXTRA_CLI: '-DUSE_QT5=ON'
  <<: *deb

debian_qt6: &debian_qt6
  build_dependencies: [gcc, make, cmake, meson, qt6-tools-dev, qt6-base-dev, qt6-multimedia-dev]
  before_build_script: '.omnipackage/debian_qt6_hack.sh'
  <<: *deb


builds:
- distro: 'opensuse_15.3'
  <<: *opensuse_qt5

- distro: 'opensuse_15.4'
  <<: *opensuse_qt5

- distro: 'opensuse_15.5'
  <<: *opensuse_qt5

- distro: 'opensuse_15.6'
  <<: *opensuse_qt5

- distro: 'opensuse_tumbleweed'
  CMAKE_EXTRA_CLI: '-DCMAKE_POLICY_VERSION_MINIMUM=3.5' # -DUSE_SYSTEM_TAGLIB=ON -DUSE_SYSTEM_YAMLCPP=ON
  <<: *opensuse_qt6
  #build_dependencies: [gcc, make, qt6-base-common-devel, qt6-multimedia-devel, qt6-widgets-devel, qt6-concurrent-devel, yaml-cpp-devel, libtag-devel]

- distro: 'debian_10'
  <<: *debian_qt5
  before_build_script: '.omnipackage/debian10_before_build.sh'
  LDFLAGS: '-static-libstdc++ -static-libgcc'
  CPPFLAGS: '-static-libstdc++ -static-libgcc'

- distro: 'debian_11'
  <<: *debian_qt5

- distro: 'debian_12'
  <<: *debian_qt5

- distro: 'debian_13'
  <<: *debian_qt6

- distro: 'debian_testing'
  <<: *debian_qt6

- distro: 'debian_unstable'
  <<: *debian_qt6

- distro: 'ubuntu_20.04'
  <<: *debian_qt5

- distro: 'ubuntu_22.04'
  <<: *debian_qt5

- distro: 'ubuntu_24.04'
  <<: *debian_qt6

- distro: 'ubuntu_25.04'
  <<: *debian_qt6

- distro: 'fedora_38'
  <<: *readhat_qt5

- distro: 'fedora_39'
  <<: *readhat_qt5

- distro: 'fedora_40'
  <<: *readhat_qt6

- distro: 'fedora_41'
  <<: *readhat_qt6

- distro: 'fedora_42'
  <<: *readhat_qt6

- distro: 'fedora_rawhide'
  CMAKE_EXTRA_CLI: '-DCMAKE_POLICY_VERSION_MINIMUM=3.5'
  <<: *readhat_qt6

- distro: 'almalinux_8'
  <<: *readhat_qt5

- distro: 'almalinux_9'
  <<: *readhat_qt5

- distro: 'almalinux_10'
  <<: *readhat_qt6

- distro: 'rockylinux_8'
  <<: *readhat_qt5

- distro: 'rockylinux_9'
  <<: *readhat_qt5

- distro: 'mageia_cauldron'
  <<: *mageia_qt5
  CMAKE_EXTRA_CLI: '-DUSE_QT5=ON -DCMAKE_POLICY_VERSION_MINIMUM=3.5'

- distro: 'mageia_9'
  <<: *mageia_qt5
